# Import data

In [2]:
import pandas as pd

In [3]:
headers = pd.read_csv('../Data/handles-data.csv')
tweets = pd.read_csv('../Data/tweets-data.csv')
pd.options.display.float_format = '{:.2f}'.format

/home/julianmelero/twitter-ai/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Header

## Show data and Types

In [4]:
headers.head(6)

,id,name,username,bio,url,join_datetime,join_date,join_time,tweets,location,following,followers,likes,media,private,verified,avatar,background_image
0,409486555,Michelle Obama,MichelleObama,Girl from the South Side and former First Lady...,https://t.co/HPYP9ad13Y,2011-11-10 20:13:01 UTC,2011-11-10,20:13:01 UTC,1770,"Washington, DC",16,20854298,184,461,False,True,https://pbs.twimg.com/profile_images/136674780...,https://pbs.twimg.com/profile_banners/40948655...
1,19397785,Oprah Winfrey,Oprah,NaN,https://t.co/IKOnfAha8E,2009-01-23 15:18:34 UTC,2009-01-23,15:18:34 UTC,13388,NaN,323,43197469,224,951,False,True,https://pbs.twimg.com/profile_images/112335936...,https://pbs.twimg.com/profile_banners/19397785...
2,21447363,KATY PERRY,katyperry,Love. Light.,https://t.co/Rrwt0Kj2Q7,2009-02-20 23:45:56 UTC,2009-02-20,23:45:56 UTC,11420,NaN,235,108819032,7995,2170,False,True,https://pbs.twimg.com/profile_images/139246535...,https://pbs.twimg.com/profile_banners/21447363...
3,14230524,Lady Gaga,ladygaga,‚ÄúChromatica‚Äù ‚öîÔ∏èüíì OUT NOW https://t.co/dgVb2x2V...,https://t.co/r5yRJxteLd,2008-03-26 22:37:48 UTC,2008-03-26,22:37:48 UTC,9519,NaN,119314,83675119,2310,1795,False,True,https://pbs.twimg.com/profile_images/142258922...,https://pbs.twimg.com/profile_banners/14230524...
4,16409683,Britney Spears,britneyspears,NaN,https://t.co/v9ZAAXrNtg,2008-09-22 20:47:35 UTC,2008-09-22,20:47:35 UTC,5716,"Los Angeles, CA",367095,55569235,2539,1362,False,True,https://pbs.twimg.com/profile_images/132341880...,https://pbs.twimg.com/profile_banners/16409683...
5,26565946,Justin Timberlake,jtimberlake,NaN,https://t.co/ZihLAQPPzw,2009-03-25 19:10:50 UTC,2009-03-25,19:10:50 UTC,4329,"Memphis, TN",324,63446026,1066,622,False,True,https://pbs.twimg.com/profile_images/123209623...,https://pbs.twimg.com/profile_banners/26565946...

In [4]:
headers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1246 non-null   int64
 1   name              1229 non-null   object
 2   username          1229 non-null   object
 3   bio               1116 non-null   object
 4   url               1009 non-null   object
 5   join_datetime     1246 non-null   object
 6   join_date         1229 non-null   object
 7   join_time         1229 non-null   object
 8   tweets            1246 non-null   int64
 9   location          839 non-null    object
 10  following         1246 non-null   int64
 11  followers         1246 non-null   int64
 12  likes             1246 non-null   int64
 13  media             1246 non-null   int64
 14  private           1229 non-null   object
 15  verified          1229 non-null   object
 16  avatar            1229 non-null   object
 17  background_image  1118 non-null   object
dtypes: int64(6), object(12)
memory usage: 175.3+ KB

In [5]:
headers.describe()

,id,tweets,following,followers,likes,media
count,1246.00,1246.00,1246.00,1246.00,1246.00,1246.00
mean,42443863514909424.00,28091.99,9928.24,8633237.84,5913.76,6179.76
std,210938639558343328.00,58852.44,130894.56,13479375.66,23020.21,24128.35
min,12.00,-1.00,-1.00,-1.00,-1.00,-1.00
25%,24464827.25,4139.00,134.25,2613578.75,113.25,606.25
50%,68792454.50,10987.50,482.00,4462139.00,813.50,1475.00
75%,221152425.50,25841.50,1197.50,8646735.00,3907.00,3131.50
max,1407034487179911168.00,730463.00,4200793.00,129909278.00,492144.00,516329.00

Podemos ver que en tweets existe un valor -1, y no sabemos si corresponde a un valor normal o no.

In [7]:
headers[headers['tweets']==-1]

,id,name,username,bio,url,join_datetime,join_date,join_time,tweets,location,following,followers,likes,media,private,verified,avatar,background_image
245,4150039286,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
335,707077440,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
337,1368835888893988864,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
343,1368835017816694786,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
463,1294058901688721413,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
634,61003804,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
710,1730144024,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
714,960604713661222913,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
838,236738600,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
905,4131578057,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
958,2990260939,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
997,1254103993195913216,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
1044,904276397996204034,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
1139,725665248280236032,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
1150,372355166,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
1174,15716039,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN
1199,25073877,NaN,NaN,NaN,NaN,,NaN,NaN,-1,NaN,-1,-1,-1,-1,NaN,NaN,NaN,NaN

Podemos ver que aquellos que tienen tweets negativos son nulos

In [31]:
headers.describe().sum()

id          1660416990567575040.00
tweets                   859620.43
following               4344674.55
followers             167745589.26
likes                    527156.72
media                    553094.86
dtype: float64

# Tweets

## Show data and Types

In [6]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40581 entries, 0 to 40580
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               40581 non-null  int64
 1   conversation_id  40581 non-null  int64
 2   created_at       40581 non-null  float64
 3   date             40581 non-null  object
 4   timezone         40581 non-null  int64
 5   place            34 non-null     object
 6   tweet            40581 non-null  object
 7   language         40581 non-null  object
 8   hashtags         40581 non-null  object
 9   cashtags         40581 non-null  object
 10  user_id          40581 non-null  int64
 11  user_id_str      40581 non-null  int64
 12  username         40581 non-null  object
 13  name             40581 non-null  object
 14  day              40581 non-null  int64
 15  hour             40581 non-null  int64
 16  link             40581 non-null  object
 17  urls             40581 non-null  object
 18  photos           40581 non-null  object
 19  video            40581 non-null  int64
 20  thumbnail        9155 non-null   object
 21  retweet          40581 non-null  bool
 22  nlikes           40581 non-null  int64
 23  nreplies         40581 non-null  int64
 24  nretweets        40581 non-null  int64
 25  quote_url        40581 non-null  object
 26  search           40581 non-null  object
 27  near             0 non-null      float64
 28  geo              0 non-null      float64
 29  source           0 non-null      float64
 30  user_rt_id       6147 non-null   float64
 31  user_rt          6147 non-null   object
 32  retweet_id       6147 non-null   float64
 33  reply_to         40581 non-null  object
 34  retweet_date     6147 non-null   object
 35  translate        0 non-null      float64
 36  trans_src        0 non-null      float64
 37  trans_dest       0 non-null      float64
dtypes: bool(1), float64(9), int64(11), object(17)
memory usage: 11.5+ MB

In [7]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40581 entries, 0 to 40580
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               40581 non-null  int64
 1   conversation_id  40581 non-null  int64
 2   created_at       40581 non-null  float64
 3   date             40581 non-null  object
 4   timezone         40581 non-null  int64
 5   place            34 non-null     object
 6   tweet            40581 non-null  object
 7   language         40581 non-null  object
 8   hashtags         40581 non-null  object
 9   cashtags         40581 non-null  object
 10  user_id          40581 non-null  int64
 11  user_id_str      40581 non-null  int64
 12  username         40581 non-null  object
 13  name             40581 non-null  object
 14  day              40581 non-null  int64
 15  hour             40581 non-null  int64
 16  link             40581 non-null  object
 17  urls             40581 non-null  object
 18  photos           40581 non-null  object
 19  video            40581 non-null  int64
 20  thumbnail        9155 non-null   object
 21  retweet          40581 non-null  bool
 22  nlikes           40581 non-null  int64
 23  nreplies         40581 non-null  int64
 24  nretweets        40581 non-null  int64
 25  quote_url        40581 non-null  object
 26  search           40581 non-null  object
 27  near             0 non-null      float64
 28  geo              0 non-null      float64
 29  source           0 non-null      float64
 30  user_rt_id       6147 non-null   float64
 31  user_rt          6147 non-null   object
 32  retweet_id       6147 non-null   float64
 33  reply_to         40581 non-null  object
 34  retweet_date     6147 non-null   object
 35  translate        0 non-null      float64
 36  trans_src        0 non-null      float64
 37  trans_dest       0 non-null      float64
dtypes: bool(1), float64(9), int64(11), object(17)
memory usage: 11.5+ MB

In [8]:
tweets.describe()

,id,conversation_id,created_at,timezone,user_id,user_id_str,day,hour,video,nlikes,nreplies,nretweets,near,geo,source,user_rt_id,retweet_id,translate,trans_src,trans_dest
count,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,40581.00,0.00,0.00,0.00,6147.00,6147.00,0.00,0.00,0.00
mean,1426891891786360576.00,1426808757431089664.00,1629032511541.93,200.00,5283702837008165.00,5283702837008165.00,3.81,13.01,0.23,1333.36,72.70,277.62,NaN,NaN,NaN,232219138902945248.00,1425921353452323840.00,NaN,NaN,NaN
std,777307598568626.38,3405297443951642.50,185324572.59,0.00,76717159022972864.00,76717159022972864.00,1.88,7.33,0.42,18022.89,878.99,4636.02,NaN,NaN,NaN,463333328455846464.00,17104357011668074.00,NaN,NaN,NaN
min,1425577767236636672.00,1045696424065859584.00,1628719200000.00,200.00,12.00,12.00,1.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,2986.00,638655042074116096.00,NaN,NaN,NaN
25%,1426194843303170048.00,1426187207010881536.00,1628866322000.00,200.00,5988062.00,5988062.00,2.00,6.00,0.00,6.00,0.00,4.00,NaN,NaN,NaN,28097720.50,1426022586274723840.00,NaN,NaN,NaN
50%,1426931687829774336.00,1426920491948838912.00,1629042000000.00,200.00,16664681.00,16664681.00,4.00,15.00,0.00,39.00,3.00,15.00,NaN,NaN,NaN,253396733.00,1426674376259346432.00,NaN,NaN,NaN
75%,1427628491152019456.00,1427623259655196672.00,1629208131000.00,200.00,78941611.00,78941611.00,5.00,19.00,0.00,198.00,24.00,71.00,NaN,NaN,NaN,2942385669.00,1427384085337544704.00,NaN,NaN,NaN
max,1428114484602810368.00,1428114484602810368.00,1629324000000.00,200.00,1407034487179911168.00,1407034487179911168.00,7.00,23.00,1.00,1920242.00,88035.00,541964.00,NaN,NaN,NaN,1427234564238368768.00,1428112384137203712.00,NaN,NaN,NaN