In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

In [23]:
headers = pd.read_csv('../Data/handles-data.csv')
tweets = pd.read_csv('../Data/tweets-data.csv')
pd.options.display.float_format = '{:.2f}'.format

/home/julianmelero/twitter-ai/twai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
tweets["nretweets"].quantile([0.7,0.8,0.90,0.95,1])

0.70       49.00
0.80      104.00
0.90      311.00
0.95      871.00
1.00   541964.00
Name: nretweets, dtype: float64

In [25]:
tweets["categorias"] = tweets["nretweets"].quantile([0.7])

In [26]:
tweets["categorias"] = pd.qcut(tweets["nretweets"], [0.7,0.8,0.90,0.95,1], labels=["very low popular", "low popular","some popular", "very popular"])

In [28]:
tweets[tweets["categorias"].isnull()]["categorias"].count()

0

In [32]:
tweets_label_categorical = pd.get_dummies(tweets, columns=["categorias"])

In [33]:
tweets_label_categorical["categorias_very low popular"]

0        0
1        0
2        0
3        0
4        0
        ..
40576    0
40577    0
40578    1
40579    0
40580    0
Name: categorias_very low popular, Length: 40581, dtype: uint8

In [37]:
tweets_label_categorical[tweets_label_categorical["categorias_very low popular"]<0].count()

id                             0
conversation_id                0
created_at                     0
date                           0
timezone                       0
place                          0
tweet                          0
language                       0
hashtags                       0
cashtags                       0
user_id                        0
user_id_str                    0
username                       0
name                           0
day                            0
hour                           0
link                           0
urls                           0
photos                         0
video                          0
thumbnail                      0
retweet                        0
nlikes                         0
nreplies                       0
nretweets                      0
quote_url                      0
search                         0
near                           0
geo                            0
source                         0
user_rt_id                     0
user_rt                        0
retweet_id                     0
reply_to                       0
retweet_date                   0
translate                      0
trans_src                      0
trans_dest                     0
categorias_very low popular    0
categorias_low popular         0
categorias_some popular        0
categorias_very popular        0
dtype: int64

In [38]:
tweets_label_categorical

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,categorias_very low popular,categorias_low popular,categorias_some popular,categorias_very popular
0,1425590913959612419,1425590913959612419,1628722334000.00,2021-08-12 00:52:14,200,NaN,RT @girlsalliance: We're so proud of the four ...,en,[],[],...,1425589589272678400.00,[],2021-08-12 00:46:58 CEST,NaN,NaN,NaN,0,1,0,0
1,1427736867739299841,1427736867739299841,1629233969000.00,2021-08-17 22:59:29,200,NaN,Some casual suggestions to üòèSLIDEüòè into when u...,en,"['shoesdaytuesday', 'afterskewlslide']",[],...,NaN,[],NaN,NaN,NaN,NaN,0,0,1,0
2,1427667300488937476,1427667300488937476,1629217383000.00,2021-08-17 18:23:03,200,NaN,RT @ValaAfshar: You are not your job.,en,[],[],...,1427647879246667776.00,[],2021-08-17 17:05:53 CEST,NaN,NaN,NaN,0,0,1,0
3,1427667012105371652,1427667012105371652,1629217315000.00,2021-08-17 18:21:55,200,NaN,What have we become üòîüòÇ Toddler Cites Freedom ...,en,[],[],...,NaN,[],NaN,NaN,NaN,NaN,0,0,1,0
4,1427497703596990467,1427497703596990467,1629176948000.00,2021-08-17 07:09:08,200,NaN,The tech giants that refuse to massively addre...,en,[],[],...,NaN,[],NaN,NaN,NaN,NaN,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40576,1427593440469061634,1427593440469061634,1629199774000.00,2021-08-17 13:29:34,200,NaN,Commencement of works. #Agenda111 https://t.c...,en,['agenda111'],[],...,NaN,[],NaN,NaN,NaN,NaN,0,1,0,0
40577,1427592955272089642,1427592930722820096,1629199658000.00,2021-08-17 13:27:38,200,NaN,Commencement of works. #Agenda111 https://t.c...,en,['agenda111'],[],...,NaN,[],NaN,NaN,NaN,NaN,0,0,0,0
40578,1427592942441598980,1427592930722820096,1629199655000.00,2021-08-17 13:27:35,200,NaN,Commencement of works. #Agenda111 https://t.c...,en,['agenda111'],[],...,NaN,[],NaN,NaN,NaN,NaN,1,0,0,0
40579,1427592930722820096,1427592930722820096,1629199652000.00,2021-08-17 13:27:32,200,NaN,Commencement of works. #Agenda111 https://t.c...,en,['agenda111'],[],...,NaN,[],NaN,NaN,NaN,NaN,0,1,0,0
40580,1427335350658158598,1427335350658158598,1629138240000.00,2021-08-16 20:24:00,200,NaN,#Agenda111 https://t.co/M1FYBKXqK3,und,['agenda111'],[],...,NaN,[],NaN,NaN,NaN,NaN,0,0,1,0