# Importaci√≥n de librer√≠as

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
# import tensorflow as tf
# from keras.models import Sequential
# from keras.layers import Dense

# Carga de datos

In [33]:
headers = pd.read_csv('../Data/handles-data.csv')
tweets = pd.read_csv('../Data/tweets-data.csv')
pd.options.display.float_format = '{:.2f}'.format

/home/julianmelero/twitter-ai/twai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Target Clasificaci√≥n

In [13]:
tweets["nretweets"].isnull().sum()

0

In [14]:
tweets["nretweets"].quantile([0.7,0.8,0.9,0.95,1])

0.70       49.00
0.80      104.00
0.90      311.00
0.95      871.00
1.00   541964.00
Name: nretweets, dtype: float64

## Pipeline

In [34]:
def pipeline_qcut_label(dataset):
    # very_unpopular:0 unpopular:1 popular:2 very_popular:1
    dataset["categorias"] = pd.qcut(dataset["nretweets"], [0.7,0.8,0.9,0.95,1], labels=["0", "1","2", "3"])
    dataset["categorias"][dataset["categorias"].isnull()] = "0"
    # df = pd.get_dummies(tweets, columns=["categorias"])
    return dataset[["categoria"]]

In [16]:
# tweets_label_categorical = pipeline_qcut_label(tweets)

In [17]:
# tweets_label_categorical

Establezco todos los tweets como poco populares de entrada, as√≠ si exiten nulos estos estar√°n como "poco populares". De esta forma, aquellos tweets que est√°n por debajo o igual al percentil 80 ser√°n como poco populares.

In [35]:
# very_unpopular:0 unpopular:1 popular:2 very_popular:1
tweets["label"] = pd.qcut(tweets["nretweets"], [0.7,0.8,0.90,0.95,1], labels=["0", "1","2", "3"])

In [36]:
tweets["label"][tweets["label"].isnull()] = "0"

In [37]:
tweets["label"].head(50)

0     1
1     2
2     2
3     2
4     3
5     2
6     3
7     0
8     3
9     1
10    1
11    2
12    3
13    3
14    3
15    1
16    3
17    3
18    1
19    3
20    3
21    3
22    3
23    3
24    3
25    3
26    3
27    3
28    3
29    3
30    3
31    3
32    3
33    0
34    0
35    1
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    1
49    0
Name: label, dtype: category
Categories (4, object): ['0' < '1' < '2' < '3']

In [38]:
tweets.groupby('label').size()

label
0    32523
1     4006
2     2023
3     2029
dtype: int64

In [39]:
tweets[tweets["nretweets"]>871]["nretweets"].count()

2029

In [40]:
tweets[tweets["label"]=="3"]["label"].count()

2029

In [28]:
tweets[tweets["nretweets"]<=104]["nretweets"].count()

32523

In [29]:
tweets[tweets["label"]=="0"]["label"].count()

32523

In [30]:
tweets[tweets["label"].isnull()]["label"].count()

0

In [128]:
# tweets_categorical = pd.get_dummies(tweets, columns=["label"])

In [129]:
# tweets_categorical.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,reply_to,retweet_date,translate,trans_src,trans_dest,categorias_2,categorias_very_unpopular,categorias_unpopular,categorias_popular,categorias_very_popular
0,1425590913959612419,1425590913959612419,1628722334000.00,2021-08-12 00:52:14,200,NaN,RT @girlsalliance: We're so proud of the four ...,en,[],[],...,[],2021-08-12 00:46:58 CEST,NaN,NaN,NaN,"(104.0, 311.0]",0,1,0,0
1,1427736867739299841,1427736867739299841,1629233969000.00,2021-08-17 22:59:29,200,NaN,Some casual suggestions to üòèSLIDEüòè into when u...,en,"['shoesdaytuesday', 'afterskewlslide']",[],...,[],NaN,NaN,NaN,NaN,"(311.0, 871.0]",0,0,1,0
2,1427667300488937476,1427667300488937476,1629217383000.00,2021-08-17 18:23:03,200,NaN,RT @ValaAfshar: You are not your job.,en,[],[],...,[],2021-08-17 17:05:53 CEST,NaN,NaN,NaN,"(311.0, 871.0]",0,0,1,0
3,1427667012105371652,1427667012105371652,1629217315000.00,2021-08-17 18:21:55,200,NaN,What have we become üòîüòÇ Toddler Cites Freedom ...,en,[],[],...,[],NaN,NaN,NaN,NaN,"(311.0, 871.0]",0,0,1,0
4,1427497703596990467,1427497703596990467,1629176948000.00,2021-08-17 07:09:08,200,NaN,The tech giants that refuse to massively addre...,en,[],[],...,[],NaN,NaN,NaN,NaN,"(871.0, 541964.0]",0,0,0,1

In [45]:
print(tweets[tweets["label"].isnull()]["label"].count())

0